@use "../base.scss" as _base;

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35rem;
    text-transform: none;
}

.headerIcon {
    width: 30rem;
    height: 30rem;
    margin-right: 4rem;
    top: 8rem;
    left: 10rem;
}

.headerText
{
    margin-left: 5rem;
    font-size: var(--fontSizeL);
}

.sliderText
{
    margin-top: 5rem;
}

.optionHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--fontSizeL);
    font-weight: bold;
    height: 20rem;
    margin-bottom: 16rem;
    text-transform: none;
}

.panel {
    position: absolute;
    width: 350rem;
    height: 880rem;
    top: 70rem;
    right: 10rem;
    z-index: 0;
    display: flex;
    flex-direction: column;

    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
    border-radius: 6rem;

    pointer-events: auto;

    overflow: hidden;

    animation: entry 0.2s;

    .list {
        margin: 6rem;
        flex: 1;
    }

    .list > :first-child {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}

.optionsContainer {
    display: flex;
    align-items: flex-start;
}

.container {
    background-color: rgba(5, 10, 20, 0.2);
    border-radius: 10rem;
    padding: 10rem;
}
.container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.label {
    flex: 1;
    margin-right: 6rem;
    max-height: 40rem;
}

.colorPicker {
    height: 30rem !important;
}

.editButton {
    height: 24rem;
    width: 24rem;
    flex: 1 1 auto;
    &:hover {
        background-color: rgba(0, 0, 0, 0.45);
    }
}

.button {
    padding-left: 8rem;

    Button {
        @include _base.basicButton();

        height: 32rem;
        font-size: 16rem;
        text-transform: uppercase;
        font-weight: bold;
        background-color: var(--menuPanel2);

        &:hover {
            background-color: rgba(0, 0, 0, 0.45);
        }
    }
}

.row {
    display: flex;
    justify-content: flex-end;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profileBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdownName {
    flex: 1;
}

.selectedDropdownProfileItem {
    background-color: rgba(5, 10, 20, 0.2);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.selectedDropdownItem {
    background-color: rgba(5, 10, 20, 0.2);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dropdownScroll {
    max-height: 100rem;
}