// Developed by Klyte45
$imagesPath: '../../../images/' !default;
%cs2-form-style {
  padding: 4.000000rem 8.000000rem;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-width: var(--stroke2);
  border-left-width: var(--stroke2);
  border-bottom-width: var(--stroke2);
  border-right-width: var(--stroke2);

  background-color: var(--menuControl1);

  border-top-color: var(--menuControlBorder);
  border-left-color: var(--menuControlBorder);
  border-bottom-color: var(--menuControlBorder);
  border-right-color: var(--menuControlBorder);
  border-radius: 3.000000rem 3.000000rem;
  display: flex;
  color: var(--menuText1Normal);
}


.cs2-fieldStyle,
.cs2-fieldStyle-compact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8rem 16rem;
  min-height: 64rem;

  .react-select-container {
    width: 50%;
  }
}

.cs2-fieldStyle {
  padding: 8rem 16rem;
  min-height: 64rem;
}

.cs2-fieldStyle2 {
  color: var(--menuText1Normal);
  border-radius: 4rem;
  font-size: var(--fontSizeM);
  display: flex;
}

.cs2-fieldStyle2:hover {
  background-color: var(--menuHoverColor)
}

.cs2-fieldStyle2.focused {
  background-color: var(--menuActiveColor)
}

.cs2-fieldStyle2.disabled {
  color: var(--menuText1Disabled)
}


.cs2-toggle {
  --checkmarkColor: white;
  --disabledCheckmarkColor: grey;
  width: 24rem;
  height: 24rem;
  padding: var(--gap1);
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-top-width: var(--stroke2);
  border-left-width: var(--stroke2);
  border-bottom-width: var(--stroke2);
  border-right-width: var(--stroke2);
  border-top-color: var(--accentColorLight);
  border-left-color: var(--accentColorLight);
  border-bottom-color: var(--accentColorLight);
  border-right-color: var(--accentColorLight);
  border-radius: 3rem;
  transition: background-color 150ms
}

.cs2-toggle.disabled {
  border-color: dimgray;

  .cs2-checkmark {
    background-color: var(--disabledCheckmarkColor)
  }
}

.cs2-item-mouse-states:hover {
  background-color: var(--hoverColorNormal)
}

.cs2-item-mouse-states:hover.selected {
  background-color: var(--selectedColor)
}

.cs2-item-mouse-states:hover.focused {
  background-color: var(--focusedColor)
}

.cs2-item-mouse-states:active {
  background-color: var(--activeColorNormal)
}

.cs2-item-mouse-states:active.selected {
  background-color: var(--selectedColor)
}

.cs2-item-mouse-states:active.focused {
  background-color: var(--focusedColor)
}


.cs2-toggle2 {
  width: 28rem;
  height: 28rem;
  border-top-color: var(--menuControlBorder);
  border-left-color: var(--menuControlBorder);
  border-bottom-color: var(--menuControlBorder);
  border-right-color: var(--menuControlBorder)
}

.cs2-toggle2,
.cs2-toggle2:hover,
.cs2-toggle2:active {
  background-color: var(--menuControl1)
}

.cs2-toggle2.disabled,
.cs2-toggle2:hover.disabled,
.cs2-toggle2:active.disabled {
  opacity: .5
}

.cs2-checkmark {
  width: 100%;
  height: 100%;
  mask-image: url('#{$imagesPath}Checkmark.svg');
  mask-size: 100%;
  background-color: var(--checkmarkColor);
  opacity: 0;
  transition: opacity 150ms cubic-bezier(0.32, 0, 0.67, 0), mask-image 150ms cubic-bezier(0.32, 0, 0.67, 0), background-color 150ms cubic-bezier(0.32, 0, 0.67, 0),
}

.cs2-checkmark.forbid {
  mask-image: url('#{$imagesPath}plus.svg');
  background-color: var(--negativeColor);
  opacity: 1;
  transform: rotateZ(45deg);
}

.cs2-checkmark.checked {
  opacity: 1;
  transition: opacity 150ms cubic-bezier(0.33, 1, 0.68, 1)
}

.cs2-form-item-label {
  flex: 1;
  margin-right: 16rem
}

.cs2-form-item-label2 {
  font-size: var(--fontSizeL);
  overflow: hidden
}



.cs2-value-field {
  background-color: var(--menuControl1);
  border-style: solid;
  border-top-width: var(--stroke2);
  border-left-width: var(--stroke2);
  border-bottom-width: var(--stroke2);
  border-right-width: var(--stroke2);
  border-top-color: var(--menuControlBorder);
  border-left-color: var(--menuControlBorder);
  border-bottom-color: var(--menuControlBorder);
  border-right-color: var(--menuControlBorder);
  border-radius: 3rem;

  &.input_invalidValue {
    color: var(--negativeColor);
    text-shadow: 1rem 1rem black;
  }
}

.cs2-value-field[disabled] {
  opacity: .5;
  border-color: dimgray;
  --iconColor: dimgray
}


.cs2-form-value {
  color: var(--menuText1Normal);
  padding: 4rem 8rem;
  font-size: 1em;
  text-align: left
}