.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20rem;
    text-transform: none;
}

.headerIcon {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 8rem;
    left: 10rem;
    opacity: 0.95;
}

.headerText
{
    margin-left: 5rem;
}

.panel {
    position: absolute;
    width: 330rem;
    height: 540rem;
    top: 70rem;
    right: 10rem;
    z-index: 0;
    display: flex;
    flex-direction: column;

    background-color: var(--panelColorNormal);
    backdrop-filter: var(--panelBlur);
    border-radius: var(--panelRadius);

    pointer-events: auto;

    overflow: hidden;

    animation: entry 0.2s;

    .list {
        margin: 6rem;
        flex: 1;
    }

    .list > :first-child {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}
